<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

</head>

<body>



<div id="mainContainer">
    <div class="header">

        <div class="navdiv">

        <nav class="navbar navbar-expand-lg ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAlt" aria-controls="navbarAlt" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">Menu</span>
                  </button>
            <div class="collapse navbar-collapse" id="navbarAlt">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{#if loggedIn}} logout  {{else}} login{{/if}}">{{#if loggedIn}} logout  {{else}} login{{/if}}<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active"  href="home">Home</a>
                   <a class="nav-item nav-link active"  href="default">Explore</a>
                   <a class="nav-item nav-link active"  href="newPost">Post</a>
                   <a class="nav-item nav-link active"  href="userInfo">MyInfo</a>

                </div>
            </div>
        </nav>
        </div>

    <div class="centerHeading">
        <h1> myBlog</h1>
        <span class="subheading">{{#if loggedIn}} {{username}}'s blog {{else}}discover and enjoy your unique lifeStyle{{/if}}</span>
    </div>

    <img class="bg"   src="assets/img/IMG_8915_3.jpg" alt="Picture link cannot be opened">

    </div>
    <div class="mainArea">
        <div class="handlebars">
            {{{body}}}
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>




</body>
</html>
