<!--Account details table-->

<style type="text/css">
    th,td{
        text-align: center;
    }

</style>

<br/>
{{#if message}}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        {{message}}
    </div>
{{/if}}
<div class="container">
    <h1 style="color: deepskyblue">Account Details</h1>
    <br>
    <table class="table">

        <thead>
        <tr>
            <th>Account</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Username:</td>
            <td>{{details.username}}</td>
        </tr>
        <tr>
            <td>Real name:</td>
            <td>{{details.fname}} {{details.lname}}</td>
        </tr>
        <tr>
            <td>Date of birth:</td>
            <td class="birthday">{{birthday}}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{details.description}}.</td>
        </tr>
        <tr>
            <td>Avatar:</td>
            <td><img src="./avatar/{{details.avatar}}" alt="avatar" width="100px" height="100px"></td>
        </tr>
        </tbody>
    </table>

    <div>

<!--        <button type="submit" class="btn btn-info pull-right" id="editSubmit" >Edit your account</button>-->

    <p style="text-align: center"><a href="./edit">Edit your account details</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Or&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="./password">Edit your password</a></p>
    <br>
    <br>

    </div>



</div>
