<!--Create a new account-->

<script src="https://code.jquery.com/jquery-3.2.0.js" integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ=" crossorigin="anonymous"></script>
<div class="container">
<br>
    {{#if message}}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{message}}
    </div>
    {{/if}}
    <h1 style="color: deepskyblue">Create a new account</h1>

    <form action="./newAccount" method="POST" class="">

        <script type="text/javascript">

            function checkIfTaken() {

                const usernameInput = document.querySelector("#txtUsername");
                const usernameMessage = document.querySelector("#usernameMsg");
                usernameMessage.innerHTML = "";
                const username = usernameInput.value;
                if (username === "") {
                    usernameMessage.innerHTML = "Username can't be empty!";
                    usernameMessage.style.color = "red";
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/newAccount/username",
                    data: {username: username},
                    dataType: "json",
                    success: function(data){
                        if (data == "1") {
                            usernameMessage.innerHTML = "Username already exists!";
                            usernameMessage.style.color = "red";
                        } else {
                            usernameMessage.innerHTML = "Pass!";
                            usernameMessage.style.color = "green";
                        }
                    }
                });
            }

            function checkIfMatch() {
                const password1 = document.querySelector("#txtPassword1").value;
                const password2 = document.querySelector("#txtPassword2").value;
                const passwordMessage = document.querySelector("#passwordMsg");
                if (password1 !== password2) {
                    passwordMessage.innerHTML = "Passwords do not match!";
                    passwordMessage.style.color = "red";
                } else {
                    passwordMessage.innerHTML = "Pass!";
                    passwordMessage.style.color = "green";
                }
            }


        </script>

        <!--   username     -->
        <div class="form-group">
            <label for="txtUsername">Username:</label>
            <input type="text" name="username" class="form-control" id="txtUsername" required onblur="checkIfTaken()">
            <span id="usernameMsg"></span>
        </div>

        <!--   password(first time)     -->
        <div class="form-group">
            <label for="txtPassword1">Password:</label>
            <input type="password" name="password1" class="form-control" id="txtPassword1" required>
        </div>

        <!--    password(second time)    -->
        <div class="form-group">
            <label for="txtPassword2">Re-enter password:</label>
            <input type="password" name="password2" class="form-control" id="txtPassword2" required onblur="checkIfMatch()">
            <span id="passwordMsg"></span>
        </div>

        <!--    first name    -->
        <div class="form-group">
            <label for="txtFirstName">First Name:</label>
            <input type="text" name="firstName" class="form-control" id="txtFirstName" required>
        </div>

        <!--    last name    -->
        <div class="form-group">
            <label for="txtLastName">Last Name:</label>
            <input type="text" name="lastName" class="form-control"  id="txtLastName" required>
        </div>

        <!--    date of birth    -->
        <div class="form-group">
            <label for="birthDate">Date of birth:</label>
            <input type="date" name="birthDate" class="form-control" id="birthDate" required>
        </div>

        <!--    description    -->
        <div class="form-group">
            <label for="txtDescription">Description:</label>
            <textarea name="description" rows="4" class="form-control" id="txtDescription" required></textarea>
        </div>

        <!--   avatar   -->

        <label for="avatar" >Avatar:
            <div class="form-check" >
                <div>
                    {{#each avatars}}
                            <input type="radio"  name="avatar" value="{{this}}" required><img src="../avatar/{{this}}" alt="avatar" width="120px" height="120px">
                    {{/each}}
                </div>
            </div>
        </label>


        <!--    submit button    -->
        <br>
        <div class="form-group" style="display: flex; justify-content: right">
            <button type="submit" class="btn btn-info pull-right" id="createSubmit" >Create account</button>
        </div>
        <br>

    </form>

        </div>

    </div>

</div>
