<script src="https://code.jquery.com/jquery-3.2.0.js" integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ=" crossorigin="anonymous"></script>

<script src="js/sort-search-comment.js"></script>
<script src="js/like-dislike-score.js"></script>
<script src="js/comment-delete-hide.js"></script>
<!--<script src="js/posts-edit-delete.js"></script>-->
<br>
<div class="alert alert-primary alert-dismissible fade show" role="alert"></div>

<div class="page-top-text">
<h1 class="h1" user_id="{{user_id}}">What’s happening outside</h1>
</div>

<div class="sort-items">
    <div class="radio-btn">
        <span> Sort by:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        <label class="radio-inline"><input type = "radio" id ="sortRadioID1" value="username" name="sortOptions">user-name&nbsp&nbsp</label>
        <label class="radio-inline"><input type = "radio" id ="sortRadioID2" value="post_date" name="sortOptions">post-date&nbsp&nbsp</label>
        <label class="radio-inline"><input type = "radio" id ="sortRadioID3" value="post_score" name="sortOptions">post-score&nbsp&nbsp</label>
    </div>
    <div class="search-go">
        <div class="search-items">
            <span>Search by: &nbsp&nbsp</span>
            <div>
                <input type="text" class="text-xl-right" placeholder="keywords or empty for all">
            </div>
        </div>
        <div>
            <button type="button" class="btn-light">Go!</button>
        </div>
    </div>
<br/>
</div>

<div class="posts">
{{#each posts}}
    <div class="card">  <!--   div for each cards   -->

        <div class="card-body">  <!--   div for each card body   -->
            <!--     if edited     -->
                {{#if this.edit}}<p style="color: grey; text-align: right">edited</p>{{else}}<p></p>{{/if}}

            <div><img class="icon-image" alt="avatar" src="./avatar/{{this.avatar}}"></div>
            <div><span class="user-name">@{{this.username}}</span></div>
            <div class="card-title-name">
                <div class="title-name">
                    <div><span class="card-title">{{this.post_title}}</span></div>
                </div>
            </div>
        </div>
        <!--       content         -->
        <div class="postContainer" blogid={{this.blog_id}} style="display: flex; justify-content: center; margin: 20px">
            {{#if this.post_content}}<p class="post-content">{{this.post_content}}</p>{{/if}}
            {{#if this.post_video}}
                <video style="width: 550px" class="card-image videoFile" draggable="true" controls="controls"
                       preload="metadata" blogid={{this.blog_id}} video="{{this.post_video}}">
                    <source src="../uploadedFiles/{{this.post_video}}" class="source">
                </video>
            {{/if}}
            {{#if this.post_image}} <a href="../uploadedFiles/{{this.post_image}}"><img class="card-image imgFile" draggable="true" src="../uploadedFiles/thumbnails/{{this.post_image}}" alt="image" blogid={{this.blog_id}} style="width: 550px" ></a>{{/if}}
        </div>
        <!--        tag        -->
        <h6 style="color: darkorange">&nbsp&nbsp&nbsp#{{this.post_tag1}}&nbsp&nbsp{{this.post_tag2}}&nbsp&nbsp{{this.post_tag3}}</h6>
        <div class="post-date" >
            <span>{{this.post_date}}</span>
        </div>

        <div class="score-comments"> <!--   div for score and comments count numbers  -->
            <p class="post-id">Post ID: {{this.blog_id}}</p>
            <!--  like and dislike icon -->
            <div id="likeDislikeScore">
                <a href="javascript:void(0);"><img src="../assets/icon/likeIcon.png" alt="like" class="score like" blogId={{this.blog_id}} width="40px"></a>
                <a href="javascript:void(0);"><img src="../assets/icon/dislikeIcon.png" alt="dislike" class="score dislike" blogId={{this.blog_id}} width="40px"></a>
            </div> <!--  score -->
            <p class="post-score-count">Score: <span class="post-score" blogId="{{this.blog_id}}">{{this.post_score}}</span></p>
            <div class="create-comments-btn-div">
                <button id="create-comments-btn" type="button" class="createCommentBtns create-comments-btn btn-light"
                        blog_id="{{this.blog_id}}" user_id="{{user_id}}" parent_comment_id="{{this.comment_id}}"
                        visible="true" >Create Comment: <span class="comment-number">{{this.commentsNum}}</span></button>
            </div>

        </div> <!--   div for score and comments count numbers  -->

        <div class="comment-table"> <!--   div for all comments  -->

            <div class="create-level0-comment-div commentTextAreasDivs"> <!--   div for creating comments - level 0  -->
                <textarea class="text-level0-comment commentTextAreas" rows = "2" cols = "100"  placeholder="Input your comments here：" ></textarea>
                <div class="submit-comment-btn-div">
                    <button id="submit-comment-btn" type="button" class="submitCommentBtns submit-comment-btn btn-light">Submit</button>
                </div>
            </div>

            {{#each comments}}
                <div  class="allComments comment-row0 commentContainer"> <!--   div for all each level-0 comments  -->
                    <div class="comment-column-user">
                        <img class="comment-img" alt="" draggable="true" src="avatar/{{this.avatar}}">
                        <p><strong>{{@this.fname}}</strong>@{{this.username}}</p>
                        <p class="comment-post-date">{{this.post_date}}</p>
                    </div>
                    <div  class="comment-text1">  <!--   div for text area of level-0 comments  -->
                        <div  class="comment-text11">
                            <div class="comment-text-info">
                               <br/>
                                <!--    delete and hide    -->
                                <!--                                <div class="commentContent" commentId={{this.comment_id}}>-->
                                <p class="thisComment commentText" commentId={{this.comment_id}}>{{#if this.visible}}{{this.comment}}{{else}}-- Hidden by post author! --{{/if}} </p>
                                <div id="deleteAndHide">
                                    <a href="javascript:void(0);"><img src="../assets/icon/hide.png" alt="hide" class="authorHide" blogId={{this.blog_id}} commentId={{this.comment_id}} visible={{this.visible}} width="25px"></a>
                                    <a href="javascript:void(0);"><img src="../assets/icon/delete.png" alt="delete" class="commenterDelete" blogId={{this.blog_id}}  commentId={{this.comment_id}} width="33px"></a>
                                </div>
                            </div>

                            <div class="create-comments-btn1-div">
                                <button id="create-comments-btn1" type="button" class="createCommentBtns create-comments-btn1 btn-light"
                                        blog_id="{{this.blog_id}}" user_id="{{user_id}}" parent_comment_id="{{this.comment_id}}"
                                        visible="true" >Reply<span class="comment-number">{{this.commentsNum}}</span></button>
                            </div>

                            <div class="create-level0-comment1-div commentTextAreasDivs"> <!--   div for creating comments - level 0  -->
                                <textarea class="text-level1-comment commentTextAreas" rows = "2" cols = "100" placeholder="Input your comments here：" > </textarea>
                                <div class="submit-comment-btn1-div">
                                    <button id="submit-comment-btn1" type="button" class="submitCommentBtns submit-comment-btn1 btn-light">Submit</button>
                                </div>
                            </div>

                        </div>
                        {{#each commentsLevel1}}
                            <div  class="allComments comment-row commentContainer">  <!--   div for each level-1 comments  -->
                                <div class="comment-column-user-level1">
                                    <img class="comment-img-level1" alt="" draggable="true" src="avatar/{{this.avatar}}">
                                    <p><strong>{{@this.fname}}</strong>@{{this.username}}</p>
                                    <p class="comment-post-date">{{this.post_date}}</p>
                                </div>
                                <div  class="comment-text-level1"> <!--   div for  text area of level-1 comments-->
                                        <br/>
                                        <!--      delete and hide    -->
                                        <!--                                    <div class="commentContent" commentId={{this.comment_id}}>-->
                                        <p class="commentText" commentId={{this.comment_id}}>{{#if this.visible}}{{this.comment}}{{else}}-- Hidden by post author! --{{/if}} </p>
                                        <div id="deleteAndHide">
                                            <a href="javascript:void(0);"><img src="../assets/icon/hide.png" alt="hide" class="authorHide" blogId={{this.blog_id}} commentId={{this.comment_id}} visible={{this.visible}} width="25px"></a>
                                            <a href="javascript:void(0);"><img src="../assets/icon/delete.png" alt="delete" class="commenterDelete commentLevel1" blogId={{this.blog_id}}  commentId={{this.comment_id}} parentId={{this.parent_comment_id}} width="33px"></a>
                                        </div>
                                    <div class="create-comments-btn2-div">
                                        <button id="create-comments-btn2" type="button" class="createCommentBtns create-comments-btn2 btn-light"
                                                blog_id="{{this.blog_id}}" user_id="{{user_id}}" parent_comment_id="{{this.comment_id}}"
                                                visible="{{true}}" >Reply<span class="comment-number">{{this.commentsNum}}</span></button>
                                    </div>

                                    <div class="create-level0-comment2-div commentTextAreasDivs"> <!--   div for creating comments - level 0  -->
                                        <textarea class="text-level2-comment commentTextAreas" rows = "2" cols = "100" placeholder="Input your comments here："> </textarea>
                                        <div class="submit-comment-btn2-div">
                                            <button id="submit-comment-btn2" type="button" class="submitCommentBtns submit-comment-btn2 btn-light">Submit</button>
                                        </div>
                                    </div>
                                </div> <!--   div for  text area of level-1 comments-->
                            </div>  <!--   div for  level-1 comments  -->
                            {{#each commentsLevel2}}
                                <div  class="allComments  comment-row commentContainer">  <!--   div for  level-2 comments  -->
                                    <div class="comment-column-user-level2">
                                        <img class="comment-img-level2" alt="" draggable="true" src="avatar/{{this.avatar}}">
                                        <p><strong>{{@this.fname}}</strong>@{{this.username}}</p>
                                        <p class="comment-post-date">{{this.post_date}}</p>
                                    </div>
                                    <div  class="comment-text-level2">
                                        <br/>
                                        <!--      delete and hide    -->
                                        <!--                                        <div class="commentContent" commentId={{this.comment_id}}>-->
                                        <p class="commentText" commentId={{this.comment_id}}>{{#if this.visible}}{{this.comment}}{{else}}-- Hidden by post author! --{{/if}} </p>
                                        <div id="deleteAndHide">
                                            <a href="javascript:void(0);"><img src="../assets/icon/hide.png" alt="hide" class="authorHide" blogId={{this.blog_id}} commentId={{this.comment_id}} visible={{this.visible}} width="25px"></a>
                                            <a href="javascript:void(0);"><img src="../assets/icon/delete.png" alt="delete" class="commenterDelete commentLevel1" blogId={{this.blog_id}}  commentId={{this.comment_id}} parentId={{this.parent_comment_id}} width="33px"></a>
                                        </div>
                                    </div>
                                </div> <!--   div for  level-2 comments   -->
                            {{/each}}
                        {{/each}}
                    </div>   <!--   div for text area of level-0 comments  -->
                </div>  <!--   div for all level-0 comments  -->
            {{/each}}
        </div> <!--   div for all comments  -->
        <div class="allCommentsBtn">
            <button  id="allCommentsBtn" type="button" class="btn-light">View more comments...</button>
        </div>

    </div> <!--   div for each cards   -->
{{/each}}
</div>
