<!--Account details where to edit and delete-->

<!--Create a new account-->

<script src="https://code.jquery.com/jquery-3.2.0.js" integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
    window.addEventListener("load", function() {
    const description = document.querySelector("#txtDescription");
    const descriptionValue = description.getAttribute("value");
    description.value = descriptionValue;

    // const birthday = document.querySelector("#birthDate");
    // const birthdayValue = birthday.getAttribute("value");
    // birthday.value = birthdayValue;

    });

    function checkIfTaken() {

        const usernameInput = document.querySelector("#txtUsername");
        const usernameMessage = document.querySelector("#usernameMsg");
        usernameMessage.innerHTML = "";
        const username = usernameInput.value;
        if (username === "") {
            usernameMessage.innerHTML = "Username can't be empty!";
            usernameMessage.style.color = "red";
            return;
        }

        $.ajax({
            type: "POST",
            url: "/edit/username",
            data: {username: username},
            dataType: "json",
            success: function(data){
                if (data == "1") {
                    usernameMessage.innerHTML = "Username already exists!";
                    usernameMessage.style.color = "red";
                } else {
                    usernameMessage.innerHTML = "Pass!";
                    usernameMessage.style.color = "green";
                }
            }
        });
    }

</script>


<div class="container">

    {{#if message}}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{message}}
        </div>
    {{/if}}
    <br>
    <h1 style="color: deepskyblue">Edit your account</h1>

<!--    <form action="./delete" method="post">-->
<!--        <button type="submit" class="btn btn-primary" id="deleteSubmit">Delete your account</button>-->
<!--    </form>-->

    <form action="./edit" method="POST" class="">

        <!--   username     -->
        <div class="form-group">
            <label for="txtUsername">Username:</label>
            <input type="text" name="username" class="form-control" id="txtUsername" value={{details.username}} required onblur="checkIfTaken()">
            <span id="usernameMsg"></span>
        </div>

        <!--    first name    -->
        <div class="form-group">
            <label for="txtFirstName">First Name:</label>
            <input type="text" name="firstName" class="form-control" id="txtFirstName" value={{details.fname}} required>
        </div>

        <!--    last name    -->
        <div class="form-group">
            <label for="txtLastName">Last Name:</label>
            <input type="text" name="lastName" class="form-control"  id="txtLastName" value={{details.lname}} required>
        </div>

        <!--    date of birth    -->
        <div class="form-group">
            <label for="birthDate">Date of birth:</label>
            <input type="date" name="birthDate" class="form-control" id="birthDate" value={{details.birthday}} required>
        </div>

        <!--    description    -->
        <div class="form-group">
            <label for="txtDescription">Description:</label>
            <textarea name="description" rows="4" class="form-control" id="txtDescription" value={{details.description}} required></textarea>
        </div>

        <!--   avatar   -->

        <label for="avatar" >Avatar:
            <div class="form-check" >
                <div>
                    {{#each avatars}}
                        <input type="radio"  name="avatar" value="{{this}}" required><img src="../avatar/{{this}}" alt="avatar" width="120px" height="120px">
                    {{/each}}
                </div>
            </div>
        </label>


        <!--    submit button    -->
        <br><br>
        <div class="form-group" style="display: flex; justify-content: right">
            <button type="submit" class="btn btn-info pull-right" id="saveSubmit" >Save your edit</button>
        </div>

    </form>
    <!--    delete account    -->
    <a href="./delete" style="display: flex; justify-content: right"> Or delete your account</a>
    <br>
    <br>
</div>








