<!--   edit password     -->
<script src="https://code.jquery.com/jquery-3.2.0.js" integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ=" crossorigin="anonymous"></script>
<div class="container">
<script>
    function checkOriginalPassword() {

        const passwordInput = document.querySelector("#txtPasswordOld");
        const oldPasswordMessage = document.querySelector("#oldPasswordMsg");
        oldPasswordMessage.innerHTML = "";
        const passwordValue = passwordInput.value;

        $.ajax({
            type: "POST",
            url: "/password/check",
            data: {password: passwordValue},
            dataType: "json",
            success: function(data){
                if (data == "0") {
                    console.log(0);
                    oldPasswordMessage.innerHTML = "Authentication failed!";
                    oldPasswordMessage.style.color = "red";
                } else {
                    console.log(0);
                    oldPasswordMessage.innerHTML = "Pass!";
                    oldPasswordMessage.style.color = "green";
                }
            }
        });
    }


    function checkIfMatch() {
        const password1 = document.querySelector("#txtPassword1").value;
        const password2 = document.querySelector("#txtPassword2").value;
        const passwordMessage = document.querySelector("#passwordMsg");
        if (password1 !== password2) {
            passwordMessage.innerHTML = "Passwords do not match!";
            passwordMessage.style.color = "red";
        } else {
            passwordMessage.innerHTML = "Pass!";
            passwordMessage.style.color = "green";
        }
    }

</script>

<form action="./password" method="POST" class="">
<br>
    <h1 style="color: deepskyblue">Edit your password</h1><br>
    <!--   password(previous)     -->
    <div class="form-group">
        <label for="txtPasswordOld">Please enter your original password:</label>
        <input type="password" name="passwordOld" class="form-control" id="txtPasswordOld" required onblur="checkOriginalPassword()">
        <span id="oldPasswordMsg"></span>
    </div>


    <!--   password(first time)     -->
    <div class="form-group">
        <label for="txtPassword1">Please enter your new password:</label>
        <input type="password" name="password1" class="form-control" id="txtPassword1" required>
    </div>

    <!--    password(second time)    -->
    <div class="form-group">
        <label for="txtPassword2">Re-enter password:</label>
        <input type="password" name="password2" class="form-control" id="txtPassword2" required onblur="checkIfMatch()">
        <span id="passwordMsg"></span>
    </div>

    <!--    submit button    -->
    <div class="form-group" style="display: flex; justify-content: right">
        <button type="submit" class="btn btn-info pull-right" id="createSubmit">Save your edit</button>
    </div>
</form>
<br>
<br>
</div>
