<script src="https://code.jquery.com/jquery-3.2.0.js" integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ=" crossorigin="anonymous"></script>
<br/>
{{#if message}}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        {{message}}
    </div>
{{/if}}
<div class="login-newAccount">

<div class="login-window col-md-offset-3 col-md-6">
    <br/>

    <div class="login-text"><p>SIGN IN</p></div>
    <form action="./login" method="POST" class="login-form form-horizontal">
        <div class="form-group ">
            <input type="text" name="username" class="form-control" id="txtUsername" required  placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" id="txtPassword" required  placeholder="Password">
        </div>
        <div class="login-register">
             <button type="submit" class="btn btn-info pull-right" id="login-submit" >LOGIN</button>
        </div>
    </form>
<br/>
    <div class="login-text"><p>YOU DON'T HAVE AN ACCOUNT?</p></div>
    <form action="./newAccount"  method="GET">
    <div class="login-register">
        <button type="submit" class="btn btn-info pull-right" id="create-account">Create a new Account</button>
    </div>
        <br>
        <br>
    </form>
</div>
</div>
