<!--Post details where to edit -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>
<!--add a js file-->
<script src="js/tag.js"></script>
<!--add a tag style-->
<style>
    ul {
        height: 80px;
    }
    li:hover {
        background-color: #EBEEF0;
        width: 130px;
    }
</style>
<!--------------------->


<script type="text/javascript">
    // count characters in the text area

    function countTxt(t) {

        let characterCount = $(t).val().length,
                current = $('#current'),
                maximum = $('#maximum'),
                theCount = $('#the-count');

        current.text(characterCount);

        if (characterCount > 75 && characterCount <= 150) {
            current.css('color', '#52BE80');
        }
        if (characterCount > 150 && characterCount <= 225) {
            //current.css('color', '#6d5555');
            current.css('color', '#F4D03F');
        }
        if (characterCount > 225 && characterCount < 250) {
            //current.css('color', '#793535');
            current.css('color', '#CD6155');
        }
        if (characterCount >= 250) {
            maximum.css('color', '#922B21');
            current.css('color', '#922B21');
            theCount.css('font-weight', 'bold');
        } else {
            maximum.css('color', '#666');
            theCount.css('font-weight', 'normal');
        }
    }
    window.addEventListener("load", function() {
        const postText = document.querySelector("#txtPost");
        const postTextValue = postText.getAttribute("value");
        postText.value = postTextValue;
    });
</script>


<div class="container" >
    <div class="card" >
        <div class="card-body">
            {{#if is_text}}
            <form action="./editPost?blogId={{blogInfo.blog_id}}" method="POST" class="">
            {{else}}
                {{#if is_image}}
                <form action="./editImage?blogId={{blogInfo.blog_id}}" method="POST" enctype="multipart/form-data">
                {{else}}
                <form action="./editVideo?blogId={{blogInfo.blog_id}}" method="POST" enctype="multipart/form-data">
                {{/if}}
            {{/if}}
            <h1 >Edit your post</h1>

            <!--    save button    -->
            <div class="form-group" style="display: flex; justify-content: right">
                <button type="submit" class="btn btn-info pull-right" id="createSubmit">Save your edit</button>
            </div>

            <!--   ID(hide)    -->
            <div class="form-group" style="display: none">
                <input type="text" name="blogId" value="{{blogInfo.blog_id}}" required>
            </div>


                <!--   title     -->
                <div class="form-group">
                    <label for="txtTitle">Your Title Here:</label>
                    <input type="text" name="title" class="form-control" id="txtTitle" maxlength="40"
                           placeholder="Your Title ..." spellcheck="true" value="{{blogInfo.post_title}}" required>
                </div>

                {{#if is_text}}
                    <!--   post     -->
                    <div class="form-group" >
                        <label for="txtPost" >Your Post Here:</label>
                        <textarea name="content" id="txtPost" rows="6" class="form-control" maxlength="300"
                                  placeholder="Start Typin..." autofocus spellcheck="true"
                                  onkeypress="countTxt(this)" onkeyup="countTxt(this)" onkeydown="countTxt(this)" value="{{blogInfo.post_content}}" required>
                        </textarea>
                    </div>
                    <!--   char-count     -->
                    <div id="the-count" style="float: right;">
                        <span id="current">0</span>
                        <span id="maximum">/ 300</span>
                    </div>
                {{/if}}

                <!--   image-upload     -->
                {{#if is_image}}
                <!--  original image -->
                    <div>
                        <a href="../uploadedFiles/{{blogInfo.post_image}}"><img class="card-image imgFile" draggable="true" src="../uploadedFiles/thumbnails/{{blogInfo.post_image}}" alt="image" style="width: 550px" ></a>
                    </div>

                    <div class="form-group">
                        <label for="inpFile">Upload a photo here!</label>
                        <!-- The "accept" attribute can provide a filter for suggested file types - but
                        we CANNOT prevent the user from selecting anything (we have to do that server-side). -->
                        <input id="inpFile" type="file" name="imageFile" accept=".jpg,.jpeg,.png,.gif" value="{{blogInfo.post_image}}" required>
                        <!--                            <div class="form-group align-start">-->
                    </div>
                {{/if}}
                <!--   video-edit     -->
                {{#if is_video}}
                    <!--  original video -->
                    <div>
                        <video style="width: 550px" class="card-image videoFile" draggable="true" controls="controls"
                               preload="metadata">
                            <source src="../uploadedFiles/{{blogInfo.post_video}}" class="source">
                        </video>
                    </div>
                    <div class="form-group">
                        <label for="inpFile">Upload a video here!</label>
                        <!-- The "accept" attribute can provide a filter for suggested file types - but
                        we CANNOT prevent the user from selecting anything (we have to do that server-side). -->
                        <input id="inpFile" type="file" name="videoFile" accept=".mp4,.mov,.m4v,.avi,.mkv,.flv" value="{{blogInfo.post_video}}" required>
                        <!--                            <div class="form-group align-start">-->
                    </div>
                {{/if}}
                <hr size="16px" align="center" width="100%">

                <!----------------------------  tag ------------------------ -->

                <h6>Your Tags Here:</h6>
                <div class="tagContainer" >
                    <!---- tag1 ------>
                    <div class="tagInput form-group" style="float: left">
                        <label for="txtTag1">Tag1 (required)</label>
                        <input type="text" name="tag1" class="tag form-control" id="txtTag1" value="{{blogInfo.post_tag1}}" required style="width: 140px; margin-right: 20px">
                    </div>

                    <!--  tag2  -->
                    <div class="tagInput form-group" style="float: left">
                        <label for="txtTag2">Tag2 (optional)</label>
                        <input type="text" name="tag2" class="tag form-control" id="txtTag2" value="{{blogInfo.post_tag2}}" style="width: 140px; margin-right: 20px">
                    </div>
                    <!--  tag3  -->
                    <div class="tagInput form-group" style="float: left">
                        <label for="txtTag3">Tag3 (optional)</label>
                        <input type="text" name="tag3" class="tag form-control" id="txtTag3" value="{{blogInfo.post_tag3}}" style="width: 140px; margin-right: 20px">
                    </div>
                </div>
                <br><br><br><br>

                <!----------------------------  tag ------------------------ -->


        </form>
        </form>
        </form>
        </div>
    </div>
</div>



