body {
  font-family: Calibri, sans-serif;
}


#mainContainer {
  display: grid;
  grid-template-columns: 30% auto 30% ;
  grid-template-rows: 500px auto;
  grid-template-areas:
                "a a a"
                ". c .";
  border-collapse: collapse;
}


@media (min-width: 1100px) {

}

@media (max-width: 1100px) and (min-width: 800px)  {

}
@media (max-width: 800px)  {

  #mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px auto;
    border-collapse: collapse;
  }

}


.header {
  grid-area: a;
}

.mainArea {
  grid-area: c;
}

.nav {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linkList {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin: 30px 20px 0 0;
}

.linkList>span>a{
  text-decoration:none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 150%;
}

.nav>div>span:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration:0.5s;
}

.centerHeading {
  display: block;
  text-align: center;
  line-height: 250%;
  font-size: 200%;
  color: whitesmoke;
  margin-top: 6.5%;
}

.centerHeading>h1 {
  font-size: 250%
}

.handlebars {
  display: block;
  position: center;
  align-self: center;
  align-content: center;
  align-items: center;
}

.bg{
  position: absolute;
  top: 0;
  display: inline-block;
  z-index: -1;
  width: 100%;
  height: 500px;
}


.navbar-expand-lg{
  color: white;
  font-weight: bold;
  justify-self: flex-end;
}

.navbar{
  color: white;
  font-weight: bold;
  justify-self: center;
}
.navbar-toggler-icon{

  font-weight: bold;
  font-size: x-large;

}
.nav-item{
  color: white;
  font-size: x-large;
}

.navbar-toggler-icon{
  color: white;
}
.leftPanal {
  grid-area: b;
}

.rightPanal {
  grid-area: d;
}


.card {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #FFFFFF;

  border-bottom: 20px solid #F7F9FA;


}



.card-body {
  padding-left: 0;
  text-align: left;
  margin: 5px 5px 0 5px;
  background-color: #F7F9FA;
  border: 1px solid #EBEEF0;
}

.card-image{
  width: 80%;
  height: 80%;
  align-self: center;
  border: 1px solid #EBEEF0;
  margin-top: 0;
  background-color: #F7F9FA;
}

.icon-image{
  position: absolute;
  margin-left: 0;
  width: 50px;
  height: 50px;
}

.card-body>p {
  padding-left: 60px;
}
.card-title{
  font-weight: bold;
  font-size: 130%;
}

.user-name{
  color: midnightblue;
  font-family: "Gloucester MT Extra Condensed";
  font-size: 150%;
  margin-left: 10%;
  font-weight: bold;
}
.card-title-name {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
}

.title-name{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.page-top-text {
  margin-top: 20px;
  font-weight: bold;
  background-color: #F7F9FA;
  color: deepskyblue;
}

.search-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150%;
}

.text-xl-right{
  width: 100%;
}

.search-go {
  display: flex;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-light {
  width: 200%;
}


#create-account{
  width: 100%;
}

#login-submit {
  width: 100%;
}

.login-text{
  width: 100%;
}

.login-text>p{
  text-align: center;
  color: deepskyblue;
}

.login-newAccount{
  display: flex;
  justify-content: center;
}

.score-comments{
  width: 80%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  color: #6E8091;
  margin: 20px 20px 0 80px;
  border-top: 1px solid #EBEEF0;
}

.post-id{
  margin-top: 8px;
}

.post-score-count{
  margin-top: 8px;
}

.comment-num {
  margin-top: 8px;
}
.like-dislike-score{
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  color: #6E8091;
  border-top: 1px solid #EBEEF0;
}
.post-date {
  max-height: 25px;
  overflow:hidden;
  align-self: flex-end;
  margin-left: 0;
  text-align: left;
  font-size: 90%;
  margin-top: 10px;
  color: #65788A;
}

.comment-row{
display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 40px;
}

.comment-column-user-level1{
  margin-top: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
}

.comment-column-user-level2{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  width:30%;
  margin-left: 10%;
  padding-top: 10px;
}


.comment-row0{
  height:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 40px;
  margin:0 5px 0;
  border: 1px solid lightgray;
}



.comment-column-user{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background-color: white;
  align-items: center;
  padding-left: 20px;
  width: 20%;
  margin-top: 30px;
}

.comment-text{
  border: 1px solid lightgray;
  background-color: #EBEEF0;
  border-radius: 40px;
  width: 80%;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-top: 10px;
  }


.comment-text1{

  background-color: white;
  border-radius: 40px;
  width: 80%;
  margin-top: 5px;
  padding-left: 20px;
  padding-top: 10px;

}

.comment-text11{
  border: 1px solid lightgray;
  background-color: #EBEEF0;
  border-radius: 40px;
  margin: 0 0 5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 10px;

}

.comment-text-info{
  align-self: flex-start;
  padding: 10px 5px 0 5px;
}

.comment-img{
  width: 30%;
  margin-top: 5px;
}

.comment-post-date{
  text-align: left;
  font-size: small;
}

.comment-btn{
  text-align: right;
  width: 100%;
  padding-left: 50%;
  justify-self: right;
  color: lightskyblue;
  margin-right: 0;
  border: #6E8091;
}
.comment-user{
  align-self: flex-end;
  text-align: left;
}
.all-comments{
display: flex;
flex-direction: column;
  justify-content: space-between;

}

.comment-img-level1{
  width: 25%;
  background-color: #EBEEF0;
  align-self: center;
}

.comment-text-level1{
  width: 100%;
  margin-top: 10px;
  background-color: #EBEEF0;
  border-radius: 40px;
  padding-left: 10px;
  border: 1px solid lightgray;
  height: 90%;
  padding-top: 15px;
}


.comment-img-level2{
  width: 25%;
  background-color: #EBEEF0;
  align-self: center;
}

.comment-text-level2{
  width: 70%;
  background-color: #EBEEF0;
  border-radius: 40px;
  border: 1px solid lightgray;
  padding: 10px 0 0 10px;
  height: 90%;
  margin-top: 20px;
}

.navdiv{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.create-comments-btn-div{;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-end;
  text-align: right;
  width: 30%;
  margin-top: 5px;
}

#create-comments-btn{
  justify-self: flex-end;
}


.create-comments-btn1-div{
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-end;
  text-align: right;
  width: 30%;
  margin-top: 5px;
}

.submit-comment-btn1-div{
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-start;
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: 5px;
  width: 45%;
}

.posts{

  border: 1px solid lightgray;
}

.allCommentsBtn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-end;
  text-align: right;
  align-self: flex-end;
  width: 30%;
  height: 40%;
  font-size: small;
}



#submit-comment-btn{
}


.text-level0-comment{
  display: flex;
  width: 100%;
}
.submit-comment-btn-div {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-start;
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: 5px;
  width: 30%;
}




.text-level1-comment{
  display: flex;
  width: 100%;
}

.create-level0-comment2-div{
 display: none;
}

.create-level0-comment1-div{
  display: none;
}

.text-level2-comment{
  display: flex;
  width: 100%;
}

#submit-comment-btn2{

}

.create-comments-btn2-div{
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-end;
  text-align: right;
  margin-top: 5px;
}

#create-comments-btn2{
  justify-self: flex-end;
  width: 30%;
}

.submit-comment-btn2-div{
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-start;
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: 5px;
  width: 45%;
}

.commentTextAreasDivs{
  display: none;
}

.commentTextAreas{
  border-radius: 40px;
padding-left: 15px;
}

.createCommentBtns{
  font-size: small;
}


.create-post-submit{
  align-self: flex-end;
  justify-content: right;
  justify-self: right;
}

.previousdiv{
  display: none;
}
